__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
.venv/
venv/
backend/venv/
app.db
*.sqlite3
.Python
.pytest_cache/
.mypy_cache/
.dmypy.json
.dmypy
.coverage
htmlcov/
*.db
*.zip
node_modules/
frontend/volley-platform-client/node_modules/
frontend/volley-platform-client/dist/

auth.json
